In [32]:
#  while loop - it can execute a set of statements as long as the condition is true.

a = 0
while a <= 10:
    print(a)
    a += 1

0
1
2
3
4
5
6
7
8
9
10

In [33]:
# break statement- it is used to stop the loop even if the while condition is true.
x = 1
while x < 20:
    print(x)
    if x == 15:
     break
    x += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [34]:
# continue statement- it is use to stop the current iteration and continue next.
y = 1
while y < 10:
    y += 1
    if y == 6:
     continue
    print(y)

2
3
4
5
7
8
9
10

In [44]:
#pass statement- is used as a placeholder for future code, when the pass statement is excuted nothing happens.
#(just to error when empty code is not allowed )

for x in [ 0, 1, 2, 3, 4, 5]:
    pass

In [39]:
# useful operators
#range function- is used to returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), 
#and stops before a specified number.
# syntax :range(start, stop, step)
#start- Optional. An integer number specifying at which position to start. Default is 0
#stop- Required. An integer number specifying at which position to stop (not included).
#step- Optional. An integer number specifying the incrementation. Default is 1

x = range( 15)

for n in x:
  print(n)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [40]:
list(range(0,10,4))

[0, 4, 8]

In [2]:
#enumerate function- it takes a collection ( a tuple) and returns it as an enumerate object.

x = ('CSK', 'KKR', 'RCB')
y = enumerate(x)

print(list(y))

[(0, 'CSK'), (1, 'KKR'), (2, 'RCB')]

In [45]:
#zip - is used to Join two tuples together.
a = ("java", "C", "Mysql")
b = (" Python", "R", "C++")
x = zip(a, b)
print(tuple(x))

(('java', ' Python'), ('C', 'R'), ('Mysql', 'C++'))

In [60]:
#in operator - Returns True if a sequence with the specified value is present in the object
x = ["car", "bus"]
print("car" in x)

True

In [61]:
# not in -Returns True if a sequence with the specified value is not present in the object
x = ["car", "bus"]
print("bike" not in x)

True

In [9]:
#min function- returns the item with the lowest value
x = min("Python", "SQL", "Java")

print(x)

Java

In [51]:
x = min(10,5,15,50)
print(x)

5

In [11]:
#max function- returns the item with the highest value
x = max("Python", "SQL", "Java")

print(x)

SQL

In [52]:
x = max(500, 154, 300)

print(x)

500

In [53]:
#random 
#shuffle - method in a list it reorganize the order of the list items
import random

mylist = ["Aishwarya", "Ramya", "Diya"]
random.shuffle(mylist)

print(mylist)

['Diya', 'Ramya', 'Aishwarya']

In [54]:
#randint- method returns an integer number selected element from the specified range.
import random

print(random.randint(100, 150))

144

In [55]:
#input - The input() function allows user input.
print("Enter your name:")
x = input()
print("Hi how are ?, " + x)

Enter your name:
Aishwarya
Hi how are ?, Aishwarya

In [56]:
# list comprehension offers a shorter syntax when you want to create a new list based on the values of 
#an existing list.
colors = ["Red", "Blue", "Green", "White","Black" ]
newlist = []

for x in colors:
  if "r" in x:
    newlist.append(x)

print(newlist)

['Green']

In [58]:
colors = ["Red", "Blue", "Green", "White","Black"]
newlist = [x for x in colors if "n" in x]

print(newlist)

['Green']